.login-form-container {
  width: 270px;
  height: 400px;
  margin: auto;
  border: solid;
  letter-spacing: 1px;
  padding: 1.1rem;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  margin-top: 5rem;
}

.login-email,
.login-password {
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  letter-spacing: 1px;
  border: 1px solid var(--gray);
  outline-color: var(--primary);
  color: var(--gray);
}

.login-email:hover,
.login-password:hover {
  cursor: text;
  outline: 1px solid var(--primary);
}

.login-btn,
.login-as-guest {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  padding: 0.2rem 1.2rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.login-btn:hover,
.login-as-guest:hover {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.sign-up-link {
  color: blue;
  text-decoration: underline;
}

.hide-icon {
  position: absolute;
  top: 33px;
  right: 9px;
  font-size: 0.9rem;
}
@media (min-width: 600px) {
  .login-form-container {
    width: 470px;
    height: 370px;
    padding: 1rem 5rem;
    margin-top: 8rem;
  }
  .dont-have-acc {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  .login-btn {
    width: 30%;
    font-size: 1rem;
    margin-right: 0.58rem;
    padding: 0.2rem 0.5;
  }
  .login-as-guest {
    width: 67%;
    font-size: 1rem;
  }
  .hide-icon {
    font-size: 1.1rem;
  }
}
