.product-card {
  width: 17rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  margin-bottom: 1.5rem;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card-header {
  position: relative;
  align-self: center;
  margin-bottom: 0.5rem;
}

.product-image {
  width: 12rem;
  height: 15rem;
}

.trending {
  font-size: 1.03rem;
  background-color: #00a098;
  color: #fff;
  position: absolute;
  top: -0.3rem;
  left: -1.3rem;
}
.like {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.6rem;
  width: fit-content;
  color: var(--primary);
  color: gray;
}
.like:hover {
  color: red;
  cursor: pointer;
}
/*  */
.rating-star {
  background-color: var(--green);
  color: #fff;
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
}

.rating {
  margin-left: 0.3rem;
}

.prod-size {
  position: absolute;
  bottom: 4px;
  left: 0px;

  background-color: var(--primary);
  padding: 0.1rem 0.2rem;
  color: #fff;
}
/*  */
.product-name {
  font-size: 1rem;
  color: var(--header-color);
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.name-and-rating {
  display: flex;
  justify-content: space-between;
}

.price-and-discount {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0;
}

.prices {
  margin-bottom: 0.3rem;
}

.new-price,
.old-price,
.discount {
  font-size: 0.9rem;
  font-weight: bold;
}
.new-price {
  color: var((--header-color));
  margin-right: 0.5rem;
}

.old-price {
  color: gray;
  text-decoration: line-through;
}
.discount {
  color: var(--primary);
  letter-spacing: 0px;
}

.add-to-cart {
  padding: 0.3rem;
  background-color: var(--primary);
  color: var(--white);
  font-size: 0.9rem;
  border: 1px solid var(--white);
  align-self: flex-start;
  width: 100%;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: #0ca0e5;
}

@media (min-width: 720px) {
  .product-card {
    width: 15rem;
  }
}

@media (min-width: 1024px) {
  .product-card {
    width: 17rem;
  }
}
