.product-card {
  width: 17rem;

  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  margin-bottom: 1.5rem;
  position: relative;
}

.card-header {
  position: relative;
  align-self: center;
  margin-bottom: 0.5rem;
}

.product-image {
  width: 12rem;
  height: 15rem;
}
.product-image:hover {
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.trending {
  font-size: 0.9rem;
  background-color: #ffa500;
  padding: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  color: #fff;
  position: absolute;
  top: -0.3rem;
  left: -1.3rem;
}
.like {
  position: absolute;
  top: -13px;
  right: -9px;
  font-size: 1.6rem;
  width: fit-content;
  color: var(--primary);
  color: gray;
}
.like:hover {
  color: var(--red);
  cursor: pointer;
}
/*  */
.rating-star {
  background-color: var(--green);
  color: #fff;
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
}

.rating {
  margin-left: 0.3rem;
}

.prod-size {
  position: absolute;
  bottom: 4px;
  left: 0px;

  background-color: var(--primary);
  padding: 0.2rem 0.4rem;
  color: #fff;
}

/*  */
.product-name {
  font-size: 1rem;
  color: var(--header-color);
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.prices {
  margin-bottom: 0.3rem;
}

.new-price {
  color: var((--header-color));
  margin-right: 0.5rem;
}

.old-price {
  color: gray;
  text-decoration: line-through;
}
.discount {
  color: var(--green);
  letter-spacing: 0px;
}

.add-to-cart,
.go-to-cart {
  padding: 0.4rem;
  background-color: var(--primary);
  color: var(--white);
  font-size: 0.9rem;
  border: 1px solid var(--white);
  align-self: flex-start;
  width: 100%;
  font-weight: bold;
}
.go-to-cart-link {
  color: var(--white);
}

.add-to-cart:hover,
.go-to-cart:hover {
  cursor: pointer;
  background-color: #0ca0e5;
}

.out-of-stock-btn {
  padding: 0.4rem;
  font-weight: bold;
  cursor: not-allowed;
}
.go-to-cart {
  padding: 0px;
}
.goto-cart-icon {
  font-size: 25.6px;
}
@media (min-width: 720px) {
  .product-card {
    margin: 1rem;
  }
}
