.profile-container {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 16rem;

  margin: auto;
}
.profile-head {
  font-size: 1.1rem;
}
.profile-card {
  justify-content: flex-start;
  padding: 1rem;
}

.profile-label,
.email-label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray);
}
.user-name,
.user-email {
  margin-left: 0.5rem;
  font-weight: bold;
  color: var(--header-color);
}

.logout-btn {
  margin-top: 0.5rem;
  align-self: flex-end;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--white);
}
.logout-btn:hover {
  background-color: var(--white);
  color: var(--red);
}

/*  */
.profile-nav {
  /* width: 100%; */
  margin-top: 1rem;
  border-bottom: 1px solid var(--primary);
}

.profile-tab-btn,
.address-tab-btn {
  width: 50%;
  padding: 0.3rem;
  background-color: var(--white);
  border: none;
  font-size: 1.1rem;
}
.profile-tab-btn {
  border-right: 1.5px solid var(--white);
}
.profile-tab-btn:hover,
.address-tab-btn:hover {
  color: var(--white);
  background: var(--primary);
  transition: background 1s;
}

.active-tab {
  color: var(--white);
  background-color: var(--primary);
}

@media (min-width: 600px) {
  .profile-container {
    width: 25rem;
  }
  .profile-head {
    font-size: 1.3rem;
  }
  .profile-label,
  .email-label {
    font-size: 1.2rem;
  }
  .user-name,
  .user-email {
    font-size: 1.2rem;
  }
  .logout-btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
