.addr-form-main {
  height: 70vh;
  position: fixed;
  top: 4rem;
  background-color: var(--white);
  padding: 2rem;
  box-shadow: 0px 5px 15px rgba(90, 90, 90, 0.35);
}

.address-form-container {
  background-color: var(--white);
  padding: 1rem 2rem;
  width: 290px;
  height: 100%;
}

.address-input {
  padding: 0.3rem;
  margin: 0.8rem 0rem;
  outline-color: var(--primary);
  border-radius: 0.3rem;
  border: 1px solid var(--gray);
  cursor: text;
  letter-spacing: 1px;
}

.addr-add-btn,
.addr-cancel-btn,
.addr-dummy-data {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--white);
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 0.3rem;
}

.addr-cancel-btn {
  background-color: var(--red);
}
.addr-dummy-data {
  background-color: #6c6b6b;
}

.addr-add-btn:hover {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--primary);
}

.addr-cancel-btn:hover {
  background-color: var(--white);
  color: var(--red);
  border-color: var(--red);
}
.addr-dummy-data:hover {
  background-color: var(--white);
  color: #6c6b6b;
  border-color: #6c6b6b;
}

@media (min-width: 600px) {
  .addr-form-main {
    width: 500px;
  }
  .address-form-container {
    width: 100%;
    /* width: 500px; */
    /* padding: 2rem 4rem; */
  }
}
