.navigation {
  background-color: var(--light-primary);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid var(--primary);
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navigation .navigation-header {
  font-size: 1.5rem;
  color: var(--primary);
}

.navigation-menu {
  font-size: 1.5rem;
  color: var(--primary);
  cursor: pointer;
}

/* Menus */
.navigation .menus {
  border-radius: 0.3rem;
  position: absolute;
  right: 0px;
  top: 62px;
  background-color: #f3fafa;
  flex-direction: column;
}

.hide-menu {
  display: none;
}
.menu-item {
  list-style: none;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: var(--primary);
  cursor: pointer;
}
.menu-item:hover {
  background-color: var(--light-primary);
}

.menus-md {
  display: none;
}

.nav-link {
  color: var(--primary);
}

@media (min-width: 720px) {
  .navigation .navigation-header {
    font-size: 1.7rem;
  }
  .menus {
    display: none;
  }
  .menu-item:hover {
    background-color: #fff;
  }

  .navigation-menu {
    display: none;
  }
  .navigation .menus {
    background-color: var(--light-primary);
    display: none;
  }
  .menus-md {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .navigation .navigation-header {
    font-size: 2rem;
  }
  .menu-item {
    font-size: 1.8rem;
  }
}
