.navigation {
  background-color: var(--primary);
  padding: 0.5rem;
  position: relative;
  border-bottom: 1px solid var(--primary);
  position: sticky;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 3.5rem;
}

.brand-icon {
  width: 25px;
  margin-right: 0.4rem;
}

.navigation .navigation-header {
  font-size: 1.2rem;
  color: var(--white);
  /* display: flex;
  flex-direction: ; */
}

.search-bar {
  padding: 0.4rem;
  font-size: 0.8rem;
  border: none;
  outline: 1px solid var(--gray);
  letter-spacing: 1px;
  color: var(--header-color);
  /* max-width: 18rem; */
  /* display: none; */
  width: 100%;
  /* margin: 0rem 0.rem; */
}

.navigation-menu {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  margin-left: 0.5rem;
}

/* Menus */
.navigation .menus {
  border-radius: 0.3rem;
  position: absolute;
  right: 0px;
  top: 62px;
  background-color: var(--alice-blue);
  flex-direction: column;
}

.hide-menu {
  display: none;
}

.menu-item {
  list-style: none;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: var(--primary);
  cursor: pointer;
}
.menus-md {
  display: none;
}

.nav-link {
  color: var(--primary);
}

.header-link {
  color: var(--white);
  margin-left: 1rem;
}

.search-bar:hover {
  cursor: unset;
}

.wishlist-icon-li,
.cart-icon-li {
  position: relative;
}

.wishlist-counter,
.cart-counter {
  position: absolute;
  top: 0.1rem;
  right: 0.8rem;
  z-index: 3;
  background-color: red;
  color: var(--white);
  font-weight: bold;
  width: 1.1rem;
  height: 1.1rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 50%;
}

@media (min-width: 720px) {
  .header-link {
    flex-direction: row;
  }
  .brand-icon {
    width: 40px;
  }
  .search-bar {
    max-width: none;
    font-size: 0.9rem;
    width: 18rem;
    padding: 0.5rem;
    display: block;
  }
  .nav-link {
    color: var(--white);
  }
  .navigation .navigation-header {
    font-size: 1.7rem;
  }
  .menus {
    display: none;
  }

  .navigation-menu {
    display: none;
  }
  .navigation .menus {
    background-color: var(--alice-blue);
    display: none;
  }
  .menus-md {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .search-bar {
    width: 40rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .navigation {
    flex-grow: 1;
  }
  .navigation .navigation-header {
    font-size: 1.7rem;
  }
  .menu-item {
    font-size: 1.8rem;
  }
}
