.features {
  margin-bottom: 3rem;
  background-color: #f3f8ff;
}

.features-list-item {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border-radius: 1rem;
}

.feature-icon {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--primary);
}

.feature-title {
  text-align: center;
  font-size: 0.8rem;
}

@media (min-width: 720px) {
  .feature-icon {
    font-size: 1.5rem;
  }
  .feature-title {
    font-size: 1.125rem;
  }
  .features-list-item {
    width: 10rem;
    padding: 0.5rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .feature-icon {
    font-size: 1.8rem;
  }
  .feature-title {
    font-size: 1.1rem;
  }
}
