.footer {
  height: 3.5rem;
  background-color: var(--light-primary);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid var(--primary); */
}

.copyright {
  color: var(--primary);
  margin-right: 0.3rem;
}
.footer .year,
.footer-label {
  font-size: 1.1rem;
  color: var(--primary);
}

/*  */
.social-links {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-left: 1rem;
}

.social-item {
  font-size: 1.5rem;
}

.social-1 {
  color: #0567c9;
}

.social-2 {
  color: #000;
}

.social-3 {
  color: #00b6ff;
}

@media (min-width: 720px) {
  .social-links {
    width: 18%;
  }
  .copyright {
    font-size: 1.2rem;
  }
  .year,
  .footer-label {
    font-size: 1.2rem;
  }
  .social-item {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .social-links {
    width: 11%;
  }
}
