@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto+Slab:wght@300&display=swap");

:root {
  --primary: #3b686c;
  --light-primary: #deecec;
  --header-color: #3d445c;
}
