.font-1rem {
  font-size: 1rem;
}
.font-1-2 {
  font-size: 1.2rem;
}
.sm-fontsize {
  font-size: 0.97rem;
}
.color-primary {
  color: var(--primary);
}
.sm-margin-bottom {
  margin-bottom: 0.5rem;
}
.font-bold {
  font-weight: bold;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.text-center {
  text-align: center;
}

.top-margin {
  margin-top: 0.9rem;
}
.bottom-margin-sm {
  margin-bottom: 0.25rem;
}
.display-inline-block {
  display: inline-block;
}
.width-100 {
  width: 100%;
}
.bottom-margin-md {
  margin-bottom: 0.5rem;
}
.text-uppercase {
  text-transform: uppercase;
}
.padding-bottom-1 {
  padding-bottom: 1rem;
}
.padding-bottom-0-4 {
  padding-bottom: 0.4rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.cursor-pointer {
  cursor: pointer;
}
.left-padding-sm {
  padding: 0.3rem;
}

.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.wrap {
  flex-wrap: wrap;
}

.right-margin {
  margin-right: 0.5rem;
}

.font-sm {
  font-size: 0.9rem;
}
.font-1 {
  font-size: 1rem;
}
.font-1-3 {
  font-size: 1.3rem;
}
.font-extra-sm {
  font-size: 0.8rem;
}
.new-price,
.old-price,
.discount {
  font-size: 0.9rem;
  font-weight: bold;
}
.relative {
  position: relative;
}
.line-height {
  line-height: 1.2;
}
.top-padding-08 {
  padding-top: 0.8rem;
}
.padding-1 {
  padding: 0.5rem;
}

.bottom-border-1 {
  border-bottom: 1px solid #b9b9b9;
}
.border-top-1 {
  border-top: 1px solid #b9b9b9;
}
.padding-left-0 {
  padding-left: 0px;
}

.padding-top-05 {
  padding-top: 0.5rem;
}

.underline {
  text-decoration: underline;
}
p {
  padding-bottom: 0.2rem;
}

.color-primary {
  color: var(--primary);
}
.letter-spacing {
  letter-spacing: 1px;
}
.capitalize {
  text-transform: capitalize;
}
@media (min-width: 600px) {
  .font-md {
    font-size: 1.03rem;
  }
  .header-md {
    font-size: 1.5rem;
  }
  .font-bold-md {
    font-weight: bold;
  }
}
