.order-summary-container {
  box-shadow: 0px 5px 15px rgba(90, 90, 90, 0.35);
  margin: 0.2rem;
  padding: 0.5rem;
}

.order-confirmed-msg {
  color: var(--green);
  margin-top: 1rem;
}
.order-summary-heading {
  margin: 2rem 0rem;
}
.prod {
  border-radius: 0.5rem;
}

.prod-detail {
  border: none;
}
.order-detail {
  line-height: 1.3;
}
.summary-addr {
  line-height: 1.3;
}

.ordered-items {
  height: 18rem;
  overflow-y: scroll;
}

.ordered-items::-webkit-scrollbar {
  width: 4px;
}

.ordered-items::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

.ordered-items::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

@media (min-width: 600px) {
  .order-summary-container {
    flex-direction: row;
    justify-content: space-between;
    width: 580px;
    padding: 3rem 1rem;
  }
  .address-name {
    font-size: 1.2rem;
  }
  .prod {
    width: 16rem;
  }
  .prod-name {
    font-size: 1rem;
  }
  .order-confirmed-msg {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .order-detail {
    font-size: 1rem;
  }
  .summary-addr {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .order-summary-container {
    width: 700px;
    padding: 3rem;
    /* padding-top: 2rem; */
  }
  .prod {
    width: 18rem;
  }
  .order-confirmed-msg {
    font-size: 1.5rem;
  }
}
