/* coupon container */
.main-coupon-container {
  width: 100%;
  background-color: #00000069;
  position: fixed;
  top: 3.5rem;
  height: 100vh;
}

.coupon-container {
  padding: 1.5rem;
  width: 270px;
  height: 200px;
  margin-bottom: 10rem;
  box-shadow: 0px 5px 15px rgba(90, 90, 90, 0.35);
  border-radius: 0.3rem;
  background-color: #fff;
  position: absolute;
}

.discount-type {
  border: 1px solid black;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.discount-radio {
  margin-right: 0.3rem;
}
.cross-icon:hover {
  color: #ff0000;
}

.apply-btn {
  background-color: var(--primary);
  font-size: 1rem;
  color: var(--white);
  padding: 0.3rem;
  margin-top: 0.6rem;
  border: 1px solid var(--primary);
  border-radius: 0.3rem;
}

.apply-btn:hover {
  background-color: var(--white);
  color: var(--primary);
}

@media (min-width: 600px) {
  .coupon-container {
    padding: 1.5rem;
    width: 350px;
    height: 230px;
  }
  .discount-type {
    font-size: 1.1rem;
  }
}
